/* Global Webpage Settings ------------------------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
 --primary: #a4e1f2;
 --secondary: #114a8b;
 --background: #d9dcd6;
 --text-color: #ffffff;
 --dark-text: #000000; 
}

html {
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: (var(--dark-text));
    font-weight: 500;
    line-height: 1.1;
}

body {
    background-color: var(--background);
    font-size: 1.75rem;
}
/*---------------------------------------------------------------------------------------------*/


/* Header/Nav ------------------------------------------------------------------------------------*/
header {
    padding: 2rem;
    background-color: var(--secondary);
    color: (var(--text-color));
}

h1 {
    display: inline-block;
    font-size: 4rem;
    color: var(--text-color);
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 2rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------------------*/

/* Hero --------------------------------------------------------------------------------------------------------*/
.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/heroimage.png");
    background-size: cover;
    background-position: center;
}

.hero p {
    color: #ffffff;
    float: right;
    margin-top: 300px;
    margin-right: 20px;
    padding: 20px;
    font-size: 30px;
} 
/*-----------------------------------------------------------------------------------------------------------------*/


/* About Me Section ------------------------------------------------------------------------------------------------*/
h2 {
    color: var(--dark-text);
    font-size: 3rem;
    padding-left: 20px;
}

p {
    color: black;
    font-size: 1.5rem;
    margin: 1em;
}

.about-me {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
/*---------------------------------------------------------------------------------------------------------------------*/


/* Work Section ---------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 992px) {
    .project {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .project {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.vl {
    height: 200px;
    border-left: 5px solid var(--secondary);
}

.work {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.project-label {
    margin-top: 20%;
    margin-bottom: 3%;
}

.project-label ul li {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    display: inline;
    padding-left: 10px;
}

#title {
    font-size: 2rem;
    font-weight: 600;
}

.project {
    flex: 1 0 100%; 
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.image-card {
    display:flex;
    flex-direction: column;
    justify-content: flex-end; 
    min-height: 100%; 
    outline: 4px solid var(--secondary); 
    background-image: url(./assets/bostonskyline.jpeg);
    background-size: cover;
    background-position: center;
}

.image-card div {
    background-color: #114a8b;
    display: flex;
    align-items: center;
    height: 100px;
    width: 25%;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/


/* Footer ------------------------------------------------------------------------------------------------------------------------*/
footer {
    padding: 2rem;
    background-color: var(--secondary);
    color: (var(--text-color));
    display: flex;
    justify-content: space-between;
}

footer nav {
    margin-right: 20px;
    float: right;
    font-size: 2rem;
    padding-top: 10px;
}

footer h2 {
    color: var(--text-color)
}

footer nav ul {
    list-style-type: none;
    padding-bottom: 15px;
}

footer nav ul li {
    display: inline-block;
    margin-left: 25px;
}

